*{
  padding:0;
  margin:0;
}

body {
  text-align:center;
  margin:auto;
  background-color: lightskyblue;
  .container{
      .titleheader{

        background-color:dodgerblue;
        .Title{
          color:gold;
          font-size:4rem;
          .Fancy{
            font-family:'Fontdiner Swanky'
          }

        }

    }

  }

}